<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CompanyDB" value="SBODemoBR" />
    <add key="Server" value="MHEYDIMAQ1" />
    <add key="DbServerType" value="dst_MSSQL2014" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="ramo01" />
    <add key="LicenseServerSap" value="MHEYDIMAQ1" />
    <add key="UserSAP" value="manager" />
    <add key="PasswordSAP" value="ramo01" />
    <add key="GravaAudit" value="True" />
    <add key="caminho" value="C:\\Temp\\In\\" />
    <add key="ftp" value="ftp://seleta.ramo.com.br/Out/" />
    <add key="usuarioftp" value="seletaftpuser" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>