<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="TimeOut" value="15000"/>
    <add key="PathAppPesag" value="C:\Petruz"/>
    <add key="NomeAppPesag" value="LePeso.exe"/>
    <add key="NomeArqEntrada" value="Pesagem.txt"/>
  </appSettings>
</configuration>